<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="color: green;">GeeksforGeeks</h1>
    <h3>Rendering Dynamic List</h3>
    <% if (showButton) {%>
        <form action="/list" method='get'>
            <button type="submit">Show List</button>
        </form>
        <% } %>
            <ul>
                <% data.forEach(item=> { %>
                    <li>
                        <%= item %>
                    </li>
                    <% }); %>
            </ul>
</body>

</html>