* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    box-sizing: border-box;
}



#top-nav {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    height: 45px;
    align-items: center;
}

#top-nav section {
    padding: 10px;
    height: 30px;

}

#top-nav #top-logo {
    display: flex;
    width: 40%;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;

}

#top-logo img:nth-child(2) {
    height: 40px;
    width: 40px;

}

#signin-top {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    position: relative;
    /* right: 0; */
    /* top: 80%; */
    left: 40%;
}

#dropdown-nav {
    font-size: .9rem;
    font-weight: 700;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 40%;
    right: 40%;
}


/* .drop-arrow::after {
    content: url(/day11/gfg-clone/assets/arrow-down-sign-to-navigate.png);
    display: flex;
    flex-direction: row;
    transform: scale(0.03);
    /* Shrinks the image */
/* height: 2px;
    width: 2px;
} */

select {
    display: none;
}

section div {
    display: inline;
}

ul li {
    list-style-type: none;

}

#bottom-nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 100;
    margin: 10px;
    justify-content: center;

}

#bottom-nav a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: .8rem;
    font-weight: 300;
    font-family: "Source Sans 3", sans-serif;

}


/* Button top search  */

.search-input input {
    border: none;
    text-align: left;
    font-size: medium;
    padding-left: 10px;
    background: none;
    color: white;
}

.search-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 28px;
    align-items: center;
    border: 3px solid rgba(87, 164, 87, 0.532);
    border-radius: 2rem;
    padding: 2px;
    width: 50%;
    background-color: rgb(246, 242, 242);
    /* box-sizing: border-box; */
}

.search-input img {
    object-fit: fill;
}


/* Working on Main Content  */


main {
    background-image: linear-gradient(180deg, rgba(217, 255, 240, 0.834) 5%, white 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10%;

}


#hero {
    /* background-image: linear-gradient(180deg, rgba(217, 255, 240, 0.834), white); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    position: relative;
    top: 150px;
}

#hero h1:first-of-type {
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* "Nunito", sans-serif; */
    font-weight: 500;
}

#main-search {
    height: 4rem;
    width: 40rem;
    border-radius: 1rem;
    border: 1px solid rgb(113, 113, 113);
    background: none;
}

.search-below-btn {
    border: none;
}

.search-below-btn button {
    padding: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid grey;
    border-radius: .5em;
    margin: 8px;

}

.search-below-btn button:nth-child(1) {
    padding: 7px;
    background-color: rgb(0, 150, 0);
    color: white;
    border: 1px solid grey;
    border-radius: .5em;

}

.hero-box {
    top: 90px;
    width: 65%;
    /* height: 50vh; */
    border: 2px solid rgb(179, 179, 179);
    padding: 20px;
    border-radius: 1rem;
    position: relative;
}

.top-herobox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */

}

.title-hero {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.title-hero h1 {
    font-size: 3rem;
}

.title-hero h3 {
    font-size: 1.2rem;
    padding-top: 20px;
}

.title-hero h1:nth-child(2) {
    color: rgb(2, 184, 2);
}

.title-hero button {
    position: absolute;
    top: 50%;
    background-color: rgb(0, 194, 0);
    border: 1px solid grey;
    padding: 8px 10px;
    border-radius: 5px;
}

.main-heroimg {
    width: 100%;
    height: auto;

}

.main-heroimg img {
    height: 100%;
    width: 100%;

}

.bottom-hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.herolowerbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;

}


#courses {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px 0 0 0;

}

.bottom-crs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding: 10px;
}

.bottom-crs a,
p,
span {
    display: block;
}

.title-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80%;
    width: 65%;
    margin: 20px;
}

.title-view h3 {
    width: 150px;
}

.title-view button {
    background-color: none;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 2px;
    width: 100px;
    margin-right: 50px;
}

.course-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    /* color: white; */
    width: 70%;
}

.card {
    border: 1px solid rgb(152, 151, 151);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 350px;
    width: 25%;
}

.imgbox {
    background-color: rgb(80, 153, 237);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    height: 50%;
}

.mustexplore {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    margin: 80px 0 80px 0;
}

.mustexplore-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;


}

.boxes-small {
    height: 8rem;
    background-color: plum;
    width: 15%;
    border-radius: 8px;
    position: relative;
}

.boxes-small span {
    font-size: larger;
    font-weight: 500;
    color: white;
    /* box-sizing: content-box;
    padding: 20px 0; */
    position: absolute;
    top: 10px;
    left: 5px;
}

.explore {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* margin: 250px 0; */
    margin-bottom: 50px;
}

.explore-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 10%;

}

.explore-card {
    height: 12rem;
    background-color: rgb(124, 191, 163);
    border-radius: 8px;
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
    color: white;
    margin: 0 20px;

}

.explore-card span {
    margin: 0 auto;
    border: 1px solid rgb(255, 255, 255);
    padding: 7px;
    border-radius: 30px;
}

/* footer */

footer {
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;

}

/* footer div {
    width: 50%;
} */

.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    padding-left: 40px;


}

.address img {
    height: 30px;
    position: absolute;
    left: 10px;
}

.address-div {
    width: 25%;
    font-size: small;

}

.address-div img[alt="logo"] {
    margin: 10px;
}

.footerlist-cont {
    display: flex;
    font-size: small;
    flex-wrap: wrap;
    gap: 30px;
}

.footerlist-cont div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerlist-cont ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}