* {
    margin: 0;
    padding: 0;
}

#top-nav {
    display: flex;
    justify-content: space-between;
}

select {
    display: none;
}

section div {
    display: inline;
}

ul li {
    list-style-type: none;
}

#bottom-nav ul {
    display: flex;
    flex-direction: row;
}

.course-card {
    display: flex;
    gap: 10px;

}

.card {
    border: 1px solid black;

}